h1 {
  text-align: center;
}

li {
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(116, 0, 134, 0.6);
  color: white;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  max-width: 300px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(60, 70, 240);
  color: white;
  padding: 5px 15px;
  cursor: pointer;
  border: 0;
}

button:hover {
  opacity: 0.9;
}

.done {
  opacity: 0.5;
  text-decoration: line-through;
}
